<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My First Flask Project!</title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <h1>Welcome to my site!</h1>
        <div class="video">
            <iframe width="600" height="315" src="https://www.youtube.com/embed/Z1RJmh_OqeA" frameborder="0"
                    allow = "autoplay; encripted-media" allowfullscreen></iframe>
        </div>
        <p style="font-size:130%;"><b>Channel:</b> freeCodeCamp.org. <b>Description:</b> <b><ins>How to use python to
            create a server.</ins></b> Setup & Workflow. Get a basic app running.
            Templates and Static Content. Setting up and using Database(SQLite). Create a basic CRUD application.
            <b><ins>Deploy to Heroku</ins></b></p>
        <div class="video">
            <iframe width="600" height="315" src="https://www.youtube.com/embed/vyCboBjK4us" frameborder="0"
                    allow = "autoplay; encripted-media" allowfullscreen></iframe>
        </div>
        <p style="font-size:130%;"><b>Channel:</b> Tinkernut. <b>Description:</b> Python has a pretty easy
            syntax making programming much easier. And it also supports a lot of add-ons and libraries that make tasks
            even easier! <b><ins>Flask, for instance, is a Python microframework that makes it super simple to make a web
                server.</ins></b> How simple? If you want to find out, stop reading this and watch the video already!</p>
    </body>
</html>